<!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="/" class="scrollto"><span style="color: white;">SM Atelier</span></a></h1>
        <hr style="border: 1px solid; color: white;">
        
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/"><span class="navmenuli">Home</span></a></li>
          <li><a href=""><span class="navmenuli">About Us</span></a></li>
          <li><a href=""><span class="navmenuli">Services</span></a></li>
          <li><a href=""><span class="navmenuli">Portfolio</span></a></li>
          <li><a href=""><span class="navmenuli">Clients</span></a></li>
          <li><a href=""><span class="navmenuli">Contact Us</span></a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header -->     

         <div class="header">
                  <h1>Commercial Designs</h1>
                  <p>Be it a warehouse, a restaurant or an industrial setup, one of our fortes is commercial interior designing. We make sure to comply with norms and standards set forth by inspection authorities while still bringing out the best of aesthetics one can imagine. </p>
          </div>
          <div class="row"> 
            <div class="column">
              <img src="public/img/Service/commercial/1.jpg" style="width:100%">
              <img src="public/img/Service/commercial/2.jpg" style="width:100%">
              <img src="public/img/Service/commercial/3.jpg" style="width:100%">
              <img src="public/img/Service/commercial/4.jpg" style="width:100%">         
            </div>
            <div class="column">
              <img src="public/img/Service/commercial/5.jpg" style="width:100%">
              <img src="public/img/Service/commercial/6.jpg" style="width:100%">
              <img src="public/img/Service/commercial/7.jpg" style="width:100%">
              <img src="public/img/Service/commercial/8.jpg" style="width:100%">  
            </div>  
            <div class="column">
              <img src="public/img/Service/commercial/9.jpg" style="width:100%">
              <img src="public/img/Service/commercial/10.jpg" style="width:100%">
              <img src="public/img/Service/commercial/11.jpg" style="width:100%">
              <img src="public/img/Service/commercial/12.jpg" style="width:100%"> 
            </div>
            <div class="column">
              <img src="public/img/Service/commercial/13.jpg" style="width:100%">
              <img src="public/img/Service/commercial/14.jpg" style="width:100%">
              <img src="public/img/Service/commercial/15.jpg" style="width:100%">
              <img src="public/img/Service/commercial/16.jpg" style="width:100%">
            </div>
          </div>