<!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="/" class="scrollto"><span style="color: white;">SM Atelier</span></a></h1>
        <hr style="border: 1px solid; color: white;">
        
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/"><span class="navmenuli">Home</span></a></li>
          <li><a href="#about"><span class="navmenuli">About Us</span></a></li>
          <li><a href="#services"><span class="navmenuli">Services</span></a></li>
          <li><a href="#portfolio"><span class="navmenuli">Portfolio</span></a></li>
          <li><a href="#testimonials"><span class="navmenuli">Clients</span></a></li>
          <li><a href="#contact"><span class="navmenuli">Contact Us</span></a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header -->
  
<!--==========================
    Intro Section
  ============================-->
  <section id="intro">

    <div class="intro-content">
      <h3 style="font-size: 50px;color: #e7717d; font-weight: bold;">Panache Meets Caliber<br>-SM Atelier</h3>
      <div>
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
        <a href="#portfolio" class="btn-projects scrollto">Our Projects</a>
      </div>
    </div>

    <div  class="owl-carousel" >
      <div class="item" style="background-image: url('public/img/bg2.jpg');height: 100%"></div>
    </div>

  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 about-img">
            <br></br><br></br>
            <video id="vid" width="540px" height="300px" autoplay preload="auto" loop="loop" muted="muted" >
             <source src="public/videos/about.mp4" type="video/mp4">
            <!-- <source src="/Users/kkmishra/Downloads/backup/interrior-made/videos/about.mp4" type="video/ogg"> -->
             </video>
          </div>
          <div class="col-lg-6 content">
            <h2>About Us</h2>
            <h3>From a tree log to a high class tabletop, we’ve made it possible!</h3>

            <p>SM Ateliers is an organization that stands for quality and ingenuity! Lead by a team of experts in the domain it took us 8 long years to bring together the brand that we represent today. Every member of our team is driven by the inspiration to innovate. 
</p><p>
SM Ateliers’ journey started back in 2011 with a humble Cantilever Chair and now in 2019 the organization has already served prestigious clients around the country. Be it a small living room designing or a public space, SM Ateliers prides itself for meticulous solutions that are not only aesthetically pleasing but also long lasting. 
</p>

          </div>
        </div>

      </div>
    </section><!-- #about -->
<script>
    var herovide = document.getElementById('vid');
       herovide.autoplay=true;
       herovide.load(); 
</script>
    <!--==========================
      Services Section
    ============================-->
     <section id="services">
      <div class="container">
        <div class="section-header">
          <h2 style="color: white;">Services</h2>
          <p style="color: white;">SM Ateliers offers services in a vast domain, from designing a single element of an ambience to a full-fledged designing plan, we have it all covered!</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <div class="icon"><img src="public/img/service_icon/commercial.png" class="icon_s"></img></div>
              <h4 class="title"><a href="commercial">Commercial Designs</a></h4>
              <p class="description">Be it a warehouse, a restaurant or an industrial setup, one of our fortes is commercial interior designing. We make sure to comply with norms and standards set forth by inspection authorities while still bringing out the best of aesthetics one can imagine.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight">
              <div class="icon"><img src="public/img/service_icon/Design.jpg" class="icon_s"></img></div>
              <h4 class="title"><a href="design">Design and Execution</a></h4>
              <p class="description">With SM Ateliers you get a striking design that lasts for years to come and with easy customization options we deliver most practical and valuable designing solutions to all our clients.<br><br/></p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInLeft" data-wow-delay="0.2s">
              <div class="icon"><img src="public/img/service_icon/Kitchen.png" class="icon_s"></img></div>
              <h4 class="title"><a href="kitchen">Kitchen and Wardrobe</a></h4>
              <p class="description">To all the ladies out there, we have got your back! We understand how important a kitchen and wardrobe is to the lady of the house and we always resort to customizations required by our clients.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight" data-wow-delay="0.2s">
              <div class="icon"><img src="public/img/service_icon/Retail.png" class="icon_s"></img></div>
              <h4 class="title"><a href="retail">Retail spaces and elements</a></h4>
              <p class="description">Retail spaces require a unique touch to impress on first sight. When working on retail spaces not only do we pay attention to details but we also incorporate elements that fail to miss attention.</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="box wow fadeInRight" data-wow-delay="0.2s">
              <div class="icon"><img src="public/img/service_icon/Renovation.png" class="icon_s"></img></div>
              <h4 class="title"><a href="renovation">Renovation</a></h4>
              <p class="description">Out of room or simply bored of the old look? With SM Ateliers renovation of your space will be swift with uncompromising quality. We pay equal attention to detail and restore falling pieces creatively.</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="box wow fadeInRight" data-wow-delay="0.2s">
              <div class="icon"><img src="public/img/service_icon/Styling.png" class="icon_s"></img></div>
              <h4 class="title"><a href="styling">Styling and Decor</a></h4>
              <p class="description">Sometimes all you need in interior designing is recommendations from professionals. We are always on our toes to help our clients in achieving a mark in styling and decor.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->

    
    <!--==========================
      Our Portfolio Section
    ============================-->
    <section id="portfolio" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Our Portfolio</h2>
          <p>"You can never judge a paint hue by the liquid color in the paint pot. You must apply it to a wall, wait for the paint to dry, then decide."</p> -Dorothy Draper

        </div>
      </div>

      <div class="container-fluid">
        <div class="row no-gutters">

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="public/img/portfolio/p1.jpg" class="portfolio-popup">
                <img src="public/img/portfolio/p1.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info">
                    
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="public/img/portfolio/p2.jpg" class="portfolio-popup">
                <img src="public/img/portfolio/p2.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="public/img/portfolio/p3.jpg" class="portfolio-popup">
                <img src="public/img/portfolio/p3.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="public/img/portfolio/p4.jpg" class="portfolio-popup">
                <img src="public/img/portfolio/p4.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"></div>
                </div>
              </a>
            </div>
          </div>

         <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="public/img/portfolio/p5.jpg" class="portfolio-popup">
                <img src="public/img/portfolio/p5.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="public/img/portfolio/p6.jpg" class="portfolio-popup">
                <img src="public/img/portfolio/p6.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="public/img/portfolio/p7.jpg" class="portfolio-popup">
                <img src="public/img/portfolio/p7.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="public/img/portfolio/p8.jpg" class="portfolio-popup">
                <img src="public/img/portfolio/p8.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"></div>
                </div>
              </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #portfolio -->

    <!--==========================
      Testimonials Section
    ============================-->
    <section id="testimonials" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Clients</h2>
        </div>
        <div class="owl-carousel testimonials-carousel">
           <img src="public/img/clients/dlf.png" align="center" class="clients-img">
           <img src="public/img/clients/bestech.jpg" align="center" class="clients-img">
           <img src="public/img/clients/m3m.png" align="center" class="clients-img">
           <img src="public/img/clients/primanti.jpg" align="center" class="clients-img">
           <img src="public/img/clients/unitech.jpg" align="center" class="clients-img">
           <img src="public/img/clients/uppals.jpeg" align="center" class="clients-img">  
        </div>

      </div>
    </section><!-- #testimonials -->
    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Contact Us</h2>
          <p>Have a look at our vast portfolio where we let our work speak for us! and follow us on Instagram and facebook too.</p>
        </div>
        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">info@smateliers.com</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="fa fa-fort-awesome"></i>
              <h3>Social Profiles</h3><br>
              <a itemprop='url' href='https://www.facebook.com/smateliers/' target='_blank'><i class="qode_icon_font_awesome fa fa-facebook  simple_social" style="font-size: 20px;" ></i></a>
              <a itemprop='url' href='https://www.instagram.com/sm_ateliers/?hl=en' target='_blank'><i class="qode_icon_font_awesome fa fa-instagram  simple_social" style="margin: 0px 0px 0px 20px;font-size: 20px;" ></i></a>
              <a itemprop='url' href='https://www.linkedin.com/company/sm-ateliers/' target='_blank'><i class="qode_icon_font_awesome fa fa-linkedin  simple_social" style="margin: 0px 0px 0px 20px;font-size: 20px;" ></i></a>
              <a itemprop='url' href='https://twitter.com/SmAteliers' target='_blank'><i class="qode_icon_font_awesome fa fa-twitter  simple_social" style="margin: 0px 0px 0px 20px;font-size: 20px;" ></i></a>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+919354288806">(+91) 9354288806</a></p>
            </div>
          </div>

        </div>
      </div>
    

      </div>
    </section><!-- #contact -->

    <!--==========================
      Raise a Query Section
    ============================-->
    <section id="Query" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <br></br>
          <h2>Raise a Query</h2>
        </div>

      <div class="container">
        <div class="form">
          <div id="sendmessage">{{msg}}</div>
          <div id="errormessage"></div>
          <form action="" method="post" action="/" role="form" id="Query">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="fname" class="form-control" id="fname" placeholder="Your First Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="text" name="lname" class="form-control" id="lname" placeholder="Your Last Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="tel" class="form-control" name="cell" id="cell" placeholder="Your Telephone Number" pattern="^\d{10}$" data-msg="Please enter a valid Telephone Number" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit" id="sendquery">Send Message</button>
            </div>
          </form>
        </div>
      
    </section><!-- #contact -->
  </main>