<!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="/" class="scrollto"><span style="color: white;">SM Atelier</span></a></h1>
        <hr style="border: 1px solid; color: white;">
        
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/"><span class="navmenuli">Home</span></a></li>
          <li><a href=""><span class="navmenuli">About Us</span></a></li>
          <li><a href=""><span class="navmenuli">Services</span></a></li>
          <li><a href=""><span class="navmenuli">Portfolio</span></a></li>
          <li><a href=""><span class="navmenuli">Clients</span></a></li>
          <li><a href=""><span class="navmenuli">Contact Us</span></a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header -->  
              <div class="header">
                  <h1>Design and Execution</h1>
                  <p>With SM Ateliers you get a striking design that lasts for years to come and with easy customization options we deliver most practical and valuable designing solutions to all our clients.</p>
              </div>
         <div class="row"> 
            <div class="column">
              <img src="public/img/Service/Design/1.jpg" style="width:100%">
              <img src="public/img/Service/Design/2.jpg" style="width:100%">
              <img src="public/img/Service/Design/3.jpg" style="width:100%"> 
            </div>
            <div class="column">
              <img src="public/img/Service/Design/4.jpg" style="width:100%">
              <img src="public/img/Service/Design/5.jpg" style="width:100%">
              <img src="public/img/Service/Design/10.jpg" style="width:100%">  
            </div>  
            <div class="column">
              <img src="public/img/Service/Design/7.jpg" style="width:100%">
              <img src="public/img/Service/Design/8.jpg" style="width:100%">
              <img src="public/img/Service/Design/9.jpg" style="width:100%">  
            </div>
            <div class="column">
              <img src="public/img/Service/Design/6.jpg" style="width:100%">
              <img src="public/img/Service/Design/1.jpg" style="width:100%">
              <img src="public/img/Service/Design/2.jpg" style="width:100%">
            </div>
          </div>
  