<!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="/" class="scrollto"><span style="color: white;">SM Atelier</span></a></h1>
        <hr style="border: 1px solid; color: white;">
        
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/"><span class="navmenuli">Home</span></a></li>
          <li><a href=""><span class="navmenuli">About Us</span></a></li>
          <li><a href=""><span class="navmenuli">Services</span></a></li>
          <li><a href=""><span class="navmenuli">Portfolio</span></a></li>
          <li><a href=""><span class="navmenuli">Clients</span></a></li>
          <li><a href=""><span class="navmenuli">Contact Us</span></a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header --> 
              <div class="header">
                  <h1>Kitchen and Wardrobe</h1>
                  <p>To all the ladies out there, we have got your back! We understand how important a kitchen and wardrobe is to the lady of the house and we always resort to customizations required by our clients. </p>
              </div>
          <div class="row"> 
            <div class="column">
              <img src="public/img/Service/kitchen/1.jpg" style="width:100%">
              <img src="public/img/Service/kitchen/2.jpg" style="width:100%">
              <img src="public/img/Service/kitchen/3.jpg" style="width:100%">              
            </div>
            <div class="column">
              <img src="public/img/Service/kitchen/4.jpg" style="width:100%">
              <img src="public/img/Service/kitchen/5.jpg" style="width:100%">
              <img src="public/img/Service/kitchen/9.jpg" style="width:100%">       
            </div>  
            <div class="column">
              <img src="public/img/Service/kitchen/7.jpg" style="width:100%">
              <img src="public/img/Service/kitchen/8.jpg" style="width:100%">
              <img src="public/img/Service/kitchen/6.jpg" style="width:100%">   
            </div>
            <div class="column">
              <img src="public/img/Service/kitchen/10.jpg" style="width:100%">
              <img src="public/img/Service/kitchen/11.jpg" style="width:100%">
              <img src="public/img/Service/kitchen/12.jpg" style="width:100%">
            </div>
          </div>

 