<!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="/" class="scrollto"><span style="color: white;">SM Atelier</span></a></h1>
        <hr style="border: 1px solid; color: white;">
        
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/"><span class="navmenuli">Home</span></a></li>
          <li><a href=""><span class="navmenuli">About Us</span></a></li>
          <li><a href=""><span class="navmenuli">Services</span></a></li>
          <li><a href=""><span class="navmenuli">Portfolio</span></a></li>
          <li><a href=""><span class="navmenuli">Clients</span></a></li>
          <li><a href=""><span class="navmenuli">Contact Us</span></a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header --> 
              <div class="header">
                  <h1>Renovation</h1>
                  <p>Out of room or simply bored of the old look? With SMAteliers renovation of your space will be swift with uncompromising quality. We pay equal attention to detail and restore falling pieces creatively.</p>
              </div>
          <div class="row"> 
            <div class="column">
              <img src="public/img/Service/Renovation/1.jpg" style="width:100%">
              <img src="public/img/Service/Renovation/2.jpg" style="width:100%">
              <img src="public/img/Service/Renovation/3.jpg" style="width:100%">
              
            </div>
            <div class="column">
              <img src="public/img/Service/Renovation/4.jpg" style="width:100%">
              <img src="public/img/Service/Renovation/5.jpg" style="width:100%">
              <img src="public/img/Service/Renovation/6.jpg" style="width:100%">
              <img src="public/img/Service/Renovation/9.jpg" style="width:100%">  
              
            </div>  
            <div class="column">
              <img src="public/img/Service/Renovation/7.jpg" style="width:100%">
              <img src="public/img/Service/Renovation/8.jpg" style="width:100%">
              
            </div>
            <div class="column">
              <img src="public/img/Service/Renovation/10.jpg" style="width:100%">
              <img src="public/img/Service/Renovation/2.jpg" style="width:100%">
              <img src="public/img/Service/Renovation/3.jpg" style="width:100%">
            </div>
          </div>