<!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="/" class="scrollto"><span style="color: white;">SM Atelier</span></a></h1>
        <hr style="border: 1px solid; color: white;">
        
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/"><span class="navmenuli">Home</span></a></li>
          <li><a href=""><span class="navmenuli">About Us</span></a></li>
          <li><a href=""><span class="navmenuli">Services</span></a></li>
          <li><a href=""><span class="navmenuli">Portfolio</span></a></li>
          <li><a href=""><span class="navmenuli">Clients</span></a></li>
          <li><a href=""><span class="navmenuli">Contact Us</span></a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header --> 
              <div class="header">
                  <h1>Retail spaces and elements</h1>
                  <p>Retail spaces require a unique touch to impress on first sight. When working on retail spaces not only do we pay attention to details but we also incorporate elements that fail to miss attention.</p>
              </div>
          <div class="row"> 
            <div class="column">
              <img src="public/img/Service/Retail/1.jpg" style="width:100%">              
            </div>
            <div class="column">
              <img src="public/img/Service/Retail/3.jpg" style="width:100%">
              <img src="public/img/Service/Retail/4.jpg" style="width:100%"> 
              <img src="public/img/Service/Retail/2.jpg" style="width:100%">             
            </div>  
            <div class="column">
              <img src="public/img/Service/Retail/5.jpg" style="width:100%">
              <img src="public/img/Service/Retail/6.jpg" style="width:100%">
            </div>
            <div class="column">
              <img src="public/img/Service/Retail/7.jpg" style="width:100%">
              <img src="public/img/Service/Retail/8.jpg" style="width:100%">           
            </div>
          </div>

  