<!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="/" class="scrollto"><span style="color: white;">SM Atelier</span></a></h1>
        <hr style="border: 1px solid; color: white;">
        
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/"><span class="navmenuli">Home</span></a></li>
          <li><a href=""><span class="navmenuli">About Us</span></a></li>
          <li><a href=""><span class="navmenuli">Services</span></a></li>
          <li><a href=""><span class="navmenuli">Portfolio</span></a></li>
          <li><a href=""><span class="navmenuli">Clients</span></a></li>
          <li><a href=""><span class="navmenuli">Contact Us</span></a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header --> 
              <div class="header">
                  <h1>Styling and Decor</h1>
                  <p>Sometimes all you need in interior designing is recommendations from professionals. We are always on our toes to help our clients in achieving a mark in styling and decor. </p>
              </div>
          <div class="row"> 
            <div class="column">
              <img src="public/img/Service/Styling/4.jpg" style="width:100%">
              <img src="public/img/Service/Styling/1.jpg" style="width:100%">
              <img src="public/img/Service/Styling/3.jpg" style="width:100%">             
            </div>
            <div class="column">
            <img src="public/img/Service/Styling/5.jpg" style="width:100%">               
            </div>  
            <div class="column">
              <img src="public/img/Service/Styling/2.jpg" style="width:100%">
              <img src="public/img/Service/Styling/6.jpg" style="width:100%;height: 56%;"> 
          
            </div>
            <div class="column">
              <img src="public/img/Service/Styling/10.jpg" style="width:100%">  
              
              <img src="public/img/Service/Styling/8.jpg" style="width:100%;height: 44%;">
              <img src="public/img/Service/Styling/9.jpg" style="width:100%">           
            </div>
          </div>
